# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Testing
.pytest_cache/

# OS / editor
.DS_Store
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log
